<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" >      
   <div class="col-md-8">
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" formControlName="Name" class="form-control" (change)="onChangeEvent($event)"  placeholder="Employee Name">
      <div class="alert alert-danger" *ngIf="this.employeeForm.get('Name').touched && this.employeeForm.get('Name').invalid">Please enter the Employee Name</div>
    </div>
    <div class="form-group">
      <label for="Address">Address</label>
      <input type="text" formControlName="Address" class="form-control"  placeholder="Employee Address">
      <div class="alert alert-danger" *ngIf="this.employeeForm.get('Address').touched && this.employeeForm.get('Address').invalid">Please enter the Employee Address</div>
    </div>
    <div class="form-group">
        <label for="Role">Role</label>
        <input type="text" formControlName="Role" class="form-control"  placeholder="Employee Role">
        <div class="alert alert-danger" *ngIf="this.employeeForm.get('Role').touched && this.employeeForm.get('Role').invalid">Please enter the Employee Role</div>
      </div>
      <div class="form-group">
        <label for="Department">Department</label>        
        <select formControlName="Department" class="form-control" >
          <option value="" selected=true>Select</option>
          <option *ngFor="let dept of departments" [value]="dept"> {{dept}} </option>
        </select>
        <div class="alert alert-danger" *ngIf="this.employeeForm.get('Department').touched && this.employeeForm.get('Department').invalid">Please enter the Employee Department</div>
      </div>
    
      <div class="form-group">
        <label for="SkillSets">SkillSets</label>        
        <textarea rows='3' cols="30" formControlName="SkillSets"  class="form-control" placeholder="Skillsets"></textarea>
        <div class="alert alert-danger" *ngIf="this.employeeForm.get('SkillSets').touched && this.employeeForm.get('SkillSets').invalid">Please enter the Employee Skillsets</div>
      </div>
      <div class="form-group">
        <label for="Date_of_Birth">Date of Birth</label>
        <input type="date" class="form-control" formControlName="Date_of_Birth"  placeholder="Date of Birth">
        <div class="alert alert-danger" *ngIf="this.employeeForm.get('Date_of_Birth').touched && this.employeeForm.get('Date_of_Birth').invalid">Please enter the Employee Date of Birth</div>
      </div>
      <div class="form-group">
        <label for="doj">Date of Joining</label>
        <input type="date" class="form-control" formControlName="Date_of_Joining"  placeholder="Date of Joining">
        <div class="alert alert-danger" *ngIf="this.employeeForm.get('Date_of_Joining').touched && this.employeeForm.get('Date_of_Joining').invalid">Please enter the Employee Date of joining</div>
      </div>
      
      <div class="row" >
          <button type="submit" id="submit" [disabled]="!employeeForm.valid">Submit</button>
         
          
      </div>
     

    </div>
  </form>
    
    
    
